:root{
    --background: #101114;
    --primary-color: rgb(45, 37, 37);
    --secondary-color: #4A4D57;
    --accent-color: rgb(84, 218, 255);
    --text-color: white;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);

     /* Layered shadow effect */
    text-shadow: 
        6px 6px 0 rgb(84, 161, 255),  /* bottom-right layer */
        6px 6px 0 rgba(0,0,0,0.2);     /* further shadow for depth */
}

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 10000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#todo-input:focus{
    outline: none;
}


/* change reference point of add button*/
/* since both input and button are in form they are relative and upper right of form element */
form{
    position: relative;
}

#add-button{
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

#add-button:hover{
    background-color: rgb(0, 200, 255);
    color: black;
    transition: 200ms ease;
}

.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1; /* pushes other elements to the edge */
    transition: 200ms ease;
}

.delete-button{
    padding: 3px;
    background: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.delete-button svg{
    transition: 200ms ease;
}

.delete-button:hover svg{
    fill:red;
}


.multi-option-button{
    padding: 3px;
    background: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.multi-option-button:hover svg{
    fill: rgb(0, 140, 255); 
}

.multi-option-button svg{
    transition: 200ms ease;
}

.custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    transition: 200ms ease;
    cursor: pointer;
}

/* change appearance based on whether or not the actual checkbox is checked or not */
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-color);
}

/* hiding html checkbox */
input[type="checkbox"]{
    display: none;
}

/* sorting buttons */

.sorts-buttons {
    display: flex;
    gap: 10px;          /* spacing between buttons */
    margin-top: 5px;   /* spacing below input/form */
    margin-bottom: 5px;
    justify-content: center; /* center horizontally */
}

.sorts-buttons button {
    background-color: var(--accent-color);
    border: none;
    border-radius: 1000px;
    padding: 10px 25px;
    color: var(--background);
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: 200ms ease;
}

.sorts-buttons button:hover {
    background-color: rgb(0, 200, 255);
    color: black;
}

/* popup styling */
.todo-options {
    position: relative;
    right: -30px;
    /* top: 35px; */
    background: #222;
    border: 1px solid #444;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 99;
}

.todo-options.hidden {
    display: none;
}

.todo-options button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 4px;
    text-align: left;
}


/* moving add below input for iphone */
/* only applied to devices below 500px (iphones) */
@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    /* button to below task input */
    #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin: 50px;
        font-size: 15vw;
    }
}